@font-face {
    font-family: 'led';
    src: url('https://cdn.jsdelivr.net/gh/ouyahama/cdn/led.eot');
    src: url('https://cdn.jsdelivr.net/gh/ouyahama/cdn/led.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/ouyahama/cdn/led.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/ouyahama/cdn/led.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/ouyahama/cdn/led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
